.container{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(31, 170, 140);
}

.pull-xs-right{
  float: right;
}

.nav-item{
  padding: 15px;
  float: right;
  margin-left: 25px;

}

.navbar{
  color: rgb(0, 81, 255);
}

.nav-light{
  color: rgb(63, 75, 20);
}
